body {
  margin: 0;
  min-width: 960px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
}

.container {
  max-width: 928px;
  margin: 0;
  padding: 0 16px;
}

.container-main {
  padding: 51px;
}

.page-header {
  margin: 0 0 0;
  padding: 55px;
  font-size: 20px;
  text-align: center;
}

.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-footer {
  padding: 40px 0;
  background-color: #00417d;
  color: #ffffff;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  background-position: left;
}
